// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: $max-container-width;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: $large-breakpoint) {
    padding-left:  2rem;
    padding-right: 2rem;
  }
}

footer {
  margin-bottom: 2rem;
  text-align: center;
 }

.wrapper {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 40px 0;
}

.wrapper .item {
  text-align:center;
  transition: all .2s ease-in-out;
}

.wrapper .item:hover {
  transform: scale(1.3);
}
