nav {
    text-align: right;
    background: $nav-color;
    margin-bottom:1em;
    padding:0 0.5em;

    ul {
        list-style: none;
        margin-bottom: 0.5em;
        padding:0;
    }

    li {
        display: inline-block;

        a {
            font-size: 1.25em;
            padding: 5px;
            margin:5px 0;
            display: inline-block;
            border-radius: 5px;
            color: white;

            &:hover {
                text-decoration: none;
                background: $nav-hover;
            }
        }
    }
}

@media (max-width: 30em) { 
    nav {
        margin:0 -1.5em;
        padding:0 1.5em;
        }
}