nav {
    text-align: right;
    border-top:2px dashed $gray-2;
    border-bottom:2px dashed $gray-2;
    background: $gray-1;
    margin-bottom:1em;

    ul {
        list-style: none;
        margin:0.5em 0;
        padding:0;
    }

    li {
        display: inline-block;

        a {
            padding: 10px;
            display: inline-block;
            border-radius: 5px;

            &:hover {
                text-decoration: none;
                background: $gray-3;
                color: white;
            }
        }
    }
}