<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <a href="{{ site.baseurl }}/" title="Home">
        <div class="masthead-title">
          {{ site.title }}
          <small>{{ site.tagline }}</small>
        </div>
        </a>
      </header>

      <nav>
        <ul>
        <li><a href="/" class="nav-item{% if page.url == "/" %} active{% endif %}">Home</a></li>
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li><a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li>
          <a href="#" id="themeChange" class="nav-item theme">
            <i class="fas fa-moon"></i>
          </a>
        </li>
        </ul>
      </nav>

      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <small>
          &copy; 1987 - {{ site.time | date: '%Y' }} <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>. All rights reserved.
        </small>
      </footer>
    </div>

    <script>


      function setDarkMode(darkMode) {
        if (darkMode) {
          document.body.classList.add("dark-mode");
        } else {
          document.body.classList.remove("dark-mode");
        }
      }

      function changeTheme() {
        let darkMode = JSON.parse(localStorage.getItem("darkMode") || false);
        darkMode = !darkMode;
        setDarkMode(darkMode);
        localStorage.setItem("darkMode", darkMode);
      }

      document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById("themeChange").addEventListener("click", changeTheme);

        setDarkMode(JSON.parse(localStorage.getItem("darkMode") || false));
      });
    </script>

    {% if site.analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.analytics_id }}');
    </script>
    {% endif %}
    {% if site.adsense_id and site.ads_on %}
    <script data-ad-client="{{ site.adsense_id }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  </body>
</html>
